.footer-bg-con{
    height: 40vh;
    width: 100vw;
    background-color: #17414F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-con1{
    height: 40%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-con2{
    height: 40%;
    width: 90%;
    display: flex;
    align-items: center;
}
.footer-para-con{
    width: 60%;
}
.footer-con3{
    height: 15%;
    width: 80%;
    display: flex;
    align-items: center;
}
.footer-logo{
    height: 50px;
    width: 230px;
    position: relative;
}

.icon-information-row{
    height: 80%;
    width: 30%;
    border-radius: 10px;
    background-color: #215D72;
    display: flex;
    align-items: center;
    padding-left: 1%;
}

.hero-img{
    height: 30px;
    width: 30px
}
.icon-information-con{
    width: 80%;
    height: 60%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-top: 16px;
}
.row-title{
    font-size: 14px;
    color: rgb(206, 202, 202);
    margin: 0px;
    margin-bottom: 0px;
}
.row-dis{
    font-size: 13px;
    color:white;
    margin-top: 3px;
}
.footer-para{
    font-size: 15px;
   margin-left: 5%;
}
.location-p{
    font-size: 12px;
    color:white;
    margin-left:10px;
}
.location-icon{
    font-size: 17px;
    margin-left: 2%;
}
@media screen and (min-width:300px) and (max-width:400px){

    .footer-con2{
        flex-direction: column;
    }

    .footer-para-con{
        width: 100%;
        height: 50%;
        margin-top: 0px;
    }
    .footer-para{
        width: 100%;

    }
    .footer-bg-con{
        height: 30vh;
    }
    .icon-information-row{
        height: 60%;
        width: 40%;
        margin-right: 10px;        
    }    
    .hero-img{
        height: 17px;
        width: 17px
 
    }
    .row-title{
        font-size: 8px;
        color: rgb(206, 202, 202);
        margin: 0px;
        margin-bottom: 0px;
    }
    .row-dis{
        font-size: 6px;
        color:white;
        margin-top: 0px;
        line-height: 9px;

    }
    .footer-para{
        font-size: 8px;
        color: rgb(200, 201, 202);
        width: 100%;
        margin-left: 5%;
        line-height: 9px;
    }
    .location-p{
        font-size: 7px;
        color:white;
        margin-left:10px;
    }
    .location-icon{
        font-size: 10px;
        margin-left: 2%;
    }
}

@media screen and (min-width:400px) and (max-width:500px){

    .footer-con2{
        flex-direction: column;
    }

    .footer-para-con{
        width: 100%;
        height: 50%;
    }
    .footer-para{
        width: 100%;
    }
    .footer-bg-con{
        height: 30vh;
    }
    .icon-information-row{
        height: 60%;
        width: 40%;
        margin-right: 10px;        
    }    
    .hero-img{
        height: 17px;
        width: 17px
 
    }
    .row-title{
        font-size: 10px;
        color: rgb(206, 202, 202);
        margin: 0px;
        margin-bottom: 0px;
    }
    .row-dis{
        font-size: 8px;
        color:white;
        margin-top: 0px;
        line-height: 9px;

    }
    .footer-para{
        font-size: 10px;
        color: rgb(200, 201, 202);
        width: 100%;
        margin-left: 5%;
        line-height: 14px;
    }
    .location-p{
        font-size: 10px;
        color:white;
        margin-left:10px;
    }
    .location-icon{
        font-size: 15px;
        margin-left: 2%;
    }
}


@media screen and (min-width:500px) and (max-width:768px){
    .icon-information-row{
        height: 60%;
        width: 40%;
        margin-right: 10px;        
    }    
    .hero-img{
        height: 26px;
        width: 26px
 
    }
    .row-title{
        font-size: 12px;
        color: rgb(206, 202, 202);
        margin: 0px;
        margin-bottom: 0px;
    }
    .row-dis{
        font-size: 10px;
        color:white;
        margin-top: 3px;
    }
    .footer-para{
        font-size: 10px;
        color: rgb(200, 201, 202);
        width: 90%;
        margin-left: 5%;
        line-height: 13px;
    }
    .location-p{
        font-size: 11px;
        color:white;
        margin-left:10px;
    }
    .location-icon{
        font-size: 16px;
        margin-left: 2%;
    }
}