.vitamins-bg-con{
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.vitamin-card-con{
    height: 220px;
    width: 320px;
    background-color: rgb(154, 137, 154);
    margin-right: 30px;
    position: relative;
}
.design-card-con{
    height: 220px;
    width: 120px;
    background-color: rgb(154, 137, 154);
    margin-right: 30px;
    position: relative;
}
.indrediants-bg-con{
    height:220px ;
    width: 36%;
    margin-right: 5%;
    padding: 3%;
}
.vitamins-details-container{
    height: 100%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
.card-img{
    margin-right: 5%;
}

.ingrediants-hea{
    font-size: 16px;
    color:rgb(21, 21, 39);

}
.better-hea{
    font-size: 24px;
    color: rgb(10, 44, 12);
    margin-top: 3px;
    margin-bottom: 2px;
    
}
.para{
    font-size: 17px;
    color: rgb(101, 102, 103);
    line-height: 25px;

}