.features-card-con{
    height: 60vh;
    width: 100vw;
    background-color: red;
    display: flex;
    justify-content: center;
    position: relative;
}
.features-card{
    height:100%;
    width: 70%;
    background-color: rgb(23, 23, 55);
    border-radius: 50px;
    position: absolute;
    bottom: 30%;
}
.features-card-items-con{
  height: 100%;
  width: 100%;
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}